<!-- events.html -->
<fieldset>
  <legend>Eventos</legend>
  <ul id="resultados-eventos">
    <!-- Todos os eventos (lançamento de dado, dano, cura, mudança de localização) serão exibidos aqui -->
  </ul>
</fieldset>

<script>
  if (typeof socket === 'undefined') {
    console.error("Socket não definido! Certifique-se de instanciar o socket antes de incluir events.html.");
  } else {
    // Evento para lançamento de dados
    socket.on('evento_lancamento_dado_{{ sessao_id }}', (data) => {
      let lista = document.getElementById('resultados-eventos');
      let item = document.createElement('li');
      let nomeJogador = data.nome ? data.nome : 'Desconhecido';
      item.textContent = `Jogador ${nomeJogador} lançou o dado ${data.dado} e obteve: ${data.resultado}`;
      lista.appendChild(item);
    });

    // Evento para dano e cura (alteração de HP)
    socket.on('evento_hp_atualizado_{{ sessao_id }}', (data) => {
      let lista = document.getElementById('resultados-eventos');
      let item = document.createElement('li');
      item.textContent = data.mensagem;
      lista.appendChild(item);
    });

    // Evento para mudança de localização
	socket.on('evento_localizacao_atualizado_{{ sessao_id }}', (data) => {
      let lista = document.getElementById('resultados-eventos');
      let item = document.createElement('li');
      item.textContent = data.mensagem;
      lista.appendChild(item);
    });
  }
</script>

