<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessão de RPG - Jogador</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script>
        let socket = io();

        // Função para atualizar as informações do jogador
        socket.on('atualizar_jogador_{{ sessao_id }}', (data) => {
            if (data.jogadorId === '{{ jogador_id }}') {
                document.getElementById('nome-jogador').innerText = data.novoNome;
                document.getElementById('localizacao-jogador').innerText = data.novaLocalizacao;
                document.getElementById('hp-jogador').innerText = `${data.novoHp} / ${data.novoHpMax}`;
            }
        });
    </script>
</head>
<body>
    <h1>Sessão de RPG - Jogador</h1>

    <fieldset>
        <legend>Jogador: <span id="nome-jogador">{{ jogador.nome }}</span></legend>
        Localização: <span id="localizacao-jogador">{{ jogador.localizacao }}</span><br>
        HP: <span id="hp-jogador">{{ jogador.hp }} / {{ jogador.hp_max }}</span><br>
    </fieldset>

</body>
</html>

